{{- if .Values.ingress.enabled -}}
{{- $fullName := include "ironic.fullname" . -}}
{{- if and .Values.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.ingress.annotations "kubernetes.io/ingress.class" .Values.ingress.className}}
  {{- end }}
{{- end }}
{{- if ne .Values.ingress.tlsSource "secret" }}
  {{ $_ := set .Values.ingress.annotations "certmanager.k8s.io/issuer" $fullName}}
  {{ $_ := set .Values.ingress.annotations "nginx.ingress.kubernetes.io/ssl-redirect" "false"}}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "ironic.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}      
  {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  defaultBackend:
    {{- with (index .Values.ingress.hosts 0) }}      
    service:      
      name: {{ $fullName }}
      port:
        {{- range .paths }}      
        name: {{ .portname }}
        {{- end }}
    {{- end }}    
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ tpl .host $}}
    http:
      paths:
      {{- range .paths }}
      - backend:
          {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
          service:
            name: {{ $fullName }}
            port:
              name: {{ .portname }}
          {{- else }}
          serviceName: {{ $fullName }}
          servicePort: {{ .portname }}
          {{- end }}
        path: {{ .path }}
        {{- if and .pathType (semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion) }}
        pathType: {{ .pathType }}
        {{- end }}
      {{- end }}
  {{- end }}
{{- end }}
